




*, *:before, *:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body,h1,h2,h3,h4,dl,dt,dd,ul,ol,li,a,div,em,span,img,form,input,p,i{ padding:0; margin:0;}
em,i,cite{word-wrap: break-word;font-style:normal;}ul,li {list-style:none;}
a,a:visited,a:active,a img{outline:none;text-decoration:none;}
a,button,input,textarea,span,i,div,h2,aside{ -webkit-tap-highlight-color:rgba(0,0,0,0);}
input:focus::-webkit-input-placeholder {color:rgb(109,109,109); }
input::-webkit-input-placeholder {color:#C2C2C2; }
article,aside,details,figcaption,figure,footer,header,menu,nav,section {display:block; margin:0; padding:0;}
html,body{-webkit-text-size-adjust:100%;text-rendering: optimizelegibility; font-size:12px;font-family: '微软雅黑',simsun,arial;}
input,button,textarea{
	border:none;-webkit-appearance: none; -moz-appearance: none; -webkit-border-image: none; border-image: none;
 -webkit-border-radius: 0; border-radius: 0; -webkit-tap-highlight-color:rgba(0,0,0,0); 
 }
input:focus,textarea:focus{outline: 0 none;}
.clear{zoom:1;}
.clear:after { content: ""; display: block; height: 0; overflow: hidden; clear: both; visibility: hidden; }




/*弹出框 客户案例*/


aaa{height: 500px;}
        
.yccm_client_top1{margin: 45px 65px 0 65px;padding-bottom: 15px;border-bottom: 1px solid #D1D4DD; font-size: 16px;}
#yccm_client_return{float: right;cursor: pointer; font-size: 14px;}
.yccm_popup_bodyText{width: 822px;height: 745px;overflow-y:scroll ;margin:40px 0 0 60px;overflow: hidden;}
.yccm_client_case_group{width: 215px;height: 215px;margin: 0 37px 20px 10px;float: left;cursor: pointer;}
.yccm_client_case_text{font-size: 24px;color: #8d93a1;margin: 10px 0;}
.yccm_client_case_timetext{font-size: 14px;color: #8d93a1;}


/*弹出框 隐私条例*/

html{overflow: hidden;}
#yccm_client_return{float: right;cursor: pointer;}
.yccm_popup_body{margin:40px 50px 10px 60px;overflow: auto;padding-right: 10px;overflow: hidden;}
.popup_body_top{font-size: 22px;color: #f8684d;font-weight: 700;margin: 0 0 15px 0;}
.popup_body_title{font-size: 16px;color: #f8684d;font-weight: 700; display: block; margin-bottom: 6px;}
.popup_body_group_text{margin-bottom: 20px;}
.popup_body_group_text p{font-size: 14px;color: #8d93a1;font-weight: 700;line-height: 2;}
.layui-layer-demo{width: 1000px;}
#click_here{color: #f8684d;}
#out{height: 630px;display: none;margin:40px 50px 0 60px;overflow: auto;padding-right: 10px;overflow: hidden;}
#out a{color: #808080;}
#out a:hover{color: #8d93a1;}
#out p{line-height: 2;margin-bottom: 5px;}



@media only screen and (max-width:1152px){
	.yccm_client_top{margin: 45px 64px 0 58px;}
	.yccm_popup_bodyText{margin:40px 0 0 54px;}
}
























