<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <base href="<%= htmlWebpackPlugin.options.base %>">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="Description" content="">
    <meta name="keywords" content="">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <script>
        function IsPC() {
            var userAgentInfo = navigator.userAgent;
            var Agents = ["Android", "iPhone", "SymbianOS", "Windows Phone", "iPad", "iPod"];
            var flag = true;
            for (var v = 0; v < Agents.length; v++) {
                if (userAgentInfo.indexOf(Agents[v]) > 0) {
                    flag = false;
                    break;
                }
            }
            return flag;
        }

        if (!IsPC()) {
            location.href = '/'
        }
    </script>
</head>
<body>
<div class="content-modal">
    <div class="top flex">
        <div class="logo"><a href="javascript:;"><img src="static/images/logo.png" alt=""></a></div>
        <ul class="nav boxflex flex" id="filters">
            <li data-href="#home" class="active"><a href="#home">首页</a></li>
            <li data-href="#introduction"><a href="#introduction">公司简介</a></li>
            <li data-href="#product"><a href="#product">产品中心</a></li>
            <li data-href="#advantage"><a href="#advantage">产品优势</a></li>
            <li data-href="#us"><a href="#us">联系我们</a></li>
            <li data-href="#point_page"><a href="#point_page">入驻加盟</a></li>
        </ul>

    </div>
    <!--首页-->
    <div class="content" id="home_page" data-type="0" margin-header>
        <div class="scroll-content">
            <div class="banner" id="home">
                <img src="./static/images/lc_top.jpg" alt="" width="100%">
            </div>
            <div class="modular introduction" id="introduction">
                <div class="title"><img src="static/images/tou_top1.png" alt=""></div>
                <div class="main">
                    <p class="introduce">乐橙互联科技有限公司成立于2016年，借助母公司上海银橙文化传媒股份有限公司（证券简称：银橙传媒；证券代码：830999）多年互联网、大数据、新媒体经验和资本实力，通过自主开发的智能系统技术，在电子商务、本地生活服务、O2O、新媒体（新型场景化媒体+移动媒体）等领域积极拓展，致力于整合互联网行业、新零售行业资源，使个人消费者、合作伙伴都能从中获益。努力成长为中国领先的新零售、新媒体领军企业。</p>
                    <p class="introduce">公司目前已经与新华社安徽分社、中华慈善总会、深圳软件产业基地等机构深度合作，积极拓展“乐橙互联”、“爱心驿站”等自动售卖机（饮料机+食品机），“乐唱”迷你歌咏亭业务。“整合资源、积极改变、拥抱未来”，乐橙互联将在新零售、新媒体行业深耕、潜行。</p>
                    <p class="introduce_img"><img src="./static/images/jies1.jpg" alt=""><img src="./static/images/jies2.jpg" alt=""><img src="./static/images/jies3.jpg" alt=""></p>
                </div>
            </div>

            <div class="modular" id="product">
                <div class="title"><img src="static/images/tou_top2.png" alt=""></div>
                <div class="main">
                    <span id="prev">&lt;</span>
                    <span id="next">&gt;</span>

                    <div class="list_cont" id="indexmaindiv">
                        <ul class="product_list clear" id="product_list">
                            <li class="list">
                                <a href="#1">
                                    <div class="box">
                                        <p class="tit">饮料自动售卖机</p>
                                        <p class="img"><img src="static/images/tu1.png" alt=""></p>
                                    </div>
                                </a>
                            </li>
                            <li class="list">
                                <a href="#2">
                                    <div class="box">
                                        <p class="tit">多功能商品售货柜</p>
                                        <p class="img"><img src="static/images/tu2.png" alt=""></p>
                                    </div>
                                </a>
                            </li>
                            <li class="list">
                                <a href="#3">
                                    <div class="box">
                                        <p class="tit">小型食品机</p>
                                        <p class="img"><img src="static/images/tu3.png" alt=""></p>
                                    </div>
                                </a>
                            </li>
                            <li class="list">
                                <a href="#4">
                                    <div class="box">
                                        <p class="tit">英伦风娃娃机</p>
                                        <p class="img"><img src="static/images/tu4.png" alt=""></p>
                                    </div>
                                </a>
                            </li>
                            <li class="list">
                                <a href="#5">
                                    <div class="box">
                                        <p class="tit">迷你K歌机(单机)</p>
                                        <p class="img"><img src="static/images/tu5.png" alt=""></p>
                                    </div>
                                </a>
                            </li>
                            <li class="list">
                                <a href="#6">
                                    <div class="box">
                                        <p class="tit">迷你K歌机(连机)</p>
                                        <p class="img"><img src="static/images/tu6.png" alt=""></p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="modular" id="advantage">
                <div class="title"><img src="static/images/tou_top3.png" alt=""></div>
                <div class="main">
                    <img src="./static/images/youshi.png" alt="" width="100%">
                </div>
            </div>
            <div class="modular" id="us">
                <div class="title"><img src="static/images/tou_top4.png" alt=""></div>
                <div class="main">
                    <img src="./static/images/ditu.png" alt="" width="100%">
                    <div class="clear">
                        <div class="left_qrcode">
                            <img src="./static/images/erwm.jpg" alt="">
                        </div>
                        <div class="right_ab">
                            <p><span></span>邮编：200233</p>
                            <p><span></span>电话：400-626-9606</p>
                            <p><span></span>地址：上海市徐汇区桂平路481号桂中园18栋6层</p>
                        </div>
                    </div>
                </div>
            </div>
            <p class="footer">
                <small>Copyright (C) 2016~2017 乐橙互联科技有限公司 All Rights Reserved. 沪ICP备15032233号</small>
            </p>


        </div>
    </div>
    <!--入驻推荐-->
    <div class="content" margin-header id="point_page" data-type="1">
        <div class="scroll-content">
            <div class="banner">
                <img src="./static/images/point_banner.jpg" alt="" width="100%">
            </div>

            <div class="fill">
                <img src="static/images/ldy111.png" alt="" class="fill_tit" width="100%">
                <div class="form-group">
                    <input type="text" placeholder="请输入公司名称" id="company_name">
                    <input type="text" placeholder="请输入公司规模" id="scope">
                    <input type="text" placeholder="请输入您的姓名" id="name">
                    <input type="text" placeholder="请输入您的电话" id="phone_number">
                    <p class="sub_btn"><a href="#" class="butn" id="submit"></a></p>
                </div>
                <div class="Point">
                    <img src="static/images/ldy222.png" alt="" width="100%" class="fill_tit">
                    <img src="static/images/lingqu_top.png" alt="" width="100%" class="fill_tit">
                    <div class="List">
                        <ul id="pointList" style="position: relative;width: 100%;top: 0;">
                            <li class="flex">
                                <p class="left"><span>王五</span>已成功领取</p>
                                <p class="right">136****5411</p>
                            </li>
                            <li class="flex">
                                <p class="left"><span>王五</span>已成功领取</p>
                                <p class="right">136****5411</p>
                            </li>
                            <li class="flex">
                                <p class="left"><span>王五</span>已成功领取</p>
                                <p class="right">136****5411</p>
                            </li>
                            <li class="flex">
                                <p class="left"><span>王五</span>已成功领取</p>
                                <p class="right">136****5411</p>
                            </li>
                            <li class="flex">
                                <p class="left"><span>王五</span>已成功领取</p>
                                <p class="right">136****5411</p>
                            </li>
                            <li class="flex">
                                <p class="left"><span>王五</span>已成功领取</p>
                                <p class="right">136****5411</p>
                            </li>
                            <li class="flex">
                                <p class="left"><span>王五</span>已成功领取</p>
                                <p class="right">136****5411</p>
                            </li>
                            <li class="flex">
                                <p class="left"><span>王五1</span>已成功领取</p>
                                <p class="right">136****5411</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <img src="static/images/ldy3.png" alt="" width="100%" class="fill_tit">

            </div>

            <p class="footer">
                <small>Copyright (C) 2016~2017 乐橙互联科技有限公司 All Rights Reserved. 沪ICP备15032233号</small>
            </p>


        </div>
    </div>
    <!--商品详情-->
    <div class="content" margin-header id="goods-detail">
        <div class="scroll-content">
            <div class="detail_main">
                <a href="javascript:;" id="pre_btn"></a>
                <a href="javascript:;" id="next_btn"></a>
                <ul id="detail_img">
                    <li>
                        <img src="#" alt="" class="img" id="details">
                    </li>
                </ul>
            </div>

            <p class="footer">
                <small>Copyright (C) 2016~2017 乐橙互联科技有限公司 All Rights Reserved. 沪ICP备15032233号</small>
            </p>
        </div>
    </div>


</div>


</body>
</html>
